@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/shelldon');
@import url('https://fonts.cdnfonts.com/css/ghost-fantasy');
@import url('https://fonts.cdnfonts.com/css/agbalumo');

                

@font-face {
    font-family: Barbarjowe Pisanki;
    src: url(' https://fonts.cdnfonts.com/css/barbarjowe-pisanie ');
}

body {
    background-color: #AEDAE6;
}

/* header */

* {
    margin: 0cm;
}

.top {
    color: #64a0b1;
    font-family: 'Shelldon', sans-serif;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;

}

    /* Botões */

.men {
    text-align: center;

}

.bot {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}

a.bot:visited {
    color: #6e7cb9;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #2c386c;
    font-size: 30px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4a65dd;
}

/* Main */
.tit {
    font-size: 100px;
    text-align: center;
    font-family: 'Ghost Fantasy', sans-serif;
    color: #B8AEE6;
    text-shadow: 3px 3px 1px #828aaf;
    margin-top: 50px;
}

.fra {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-family: Barbarjowe Pisanki;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    font-size: 55px;
    margin-top: 45px;
    margin-left: 50px;
    font-family: 'Agbalumo', sans-serif;
    color: #B8AEE6;
    text-shadow: 3px 3px 1px #828aaf;
}

img {
    margin-top: 45px;
    margin-bottom: 30px;
    border-radius: 40px;
}

.foto {
    width: 20%;
    border-radius: 200px;
    margin-left: 50px;
    float: left;
    margin-right: 20px;
}

.des {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 50px;
}

p {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;


}

.card:hover {
    transform: scale(1.02);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;

}

.card {
    width: 300px;
    margin: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 18px;
    padding-bottom: 10px;
    color: #ffffffbe;
    background-color: #828aaf;
    min-height: 50px;
    
}

.card-img-top {
    size: 110%;
    border-radius: 8px 8px 0 0;
}

/* Footer */

.final{
    min-height: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}

footer {
    background-color: #B8AEE6;
    width: 100%;
    bottom: 0;

}

.mençao {
    font-size: 17px;
}

/* para aparelos moveis */

@media (max-width: 992px) {
    #sino {
        width: calc(90% - 40px); 
    }
}

@media (max-width: 576px) {
    #sino {
        width: 90%; 
    }
}