.galeria {
  column-count: 3;
  column-gap: 12px;
  padding: 20px;
}

.galeria img {
  width: 100%;
  margin-bottom: 12px;
  break-inside: avoid;
}


.galeria img:hover {
  transform: scale(1.03);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.modal-conteudo {
  display: flex;
  gap: 20px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  max-width: 80%;
  max-height: 80%;
}

.modal-conteudo img {
  max-width: 400px;
  max-height: 70vh;
  border-radius: 8px;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}



@media (max-width: 768px) {
  .galeria { column-count: 2; }
}

@media (max-width: 480px) {
  .galeria { column-count: 1; }
}

