.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px;
}

.lightbox img {
    margin: 0;
    border-radius: 10px;
    margin-top: 60px;
}


.lightbox:target {
    display: flex;
}

.conteudo-lightbox {
    display: flex;
    gap: 30px;
    max-width: 90%;
    max-height: 90%;
    align-items: center;
}

.conteudo-lightbox img {
    max-width: 60vw;
    max-height: 80vh;
    border-radius: 10px;
}

.descricao {
    color: #fff;
    max-width: 300px;
    font-size: 14px;
}

.descricao h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.thumb img {
    width: 200px;
    margin: 0; /* ANULA o global */
    border-radius: 15px;
}

.overlay {
    position: absolute;
    inset: 0;
}




/* Mobile */
@media (max-width: 768px) {
    .conteudo-lightbox {
        flex-direction: column;
        text-align: center;
    }

    .conteudo-lightbox img {
        max-width: 90vw;
    }
}
