@import url('https://fonts.cdnfonts.com/css/shelldon');
@import url('https://fonts.cdnfonts.com/css/ghost-fantasy');

@font-face {
    font-family: Barbarjowe Pisanki;
    src: url(' https://fonts.cdnfonts.com/css/barbarjowe-pisanie ');
}


* {
    margin: 0cm;
}

.top {
    color: #64a0b1;
    font-family: 'Shelldon', sans-serif;
    font-size: 35px;
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;

}

.tit {
    font-size: 100px;
    text-align: center;
    font-family: 'Ghost Fantasy', sans-serif;
    color: #B8AEE6;
    text-shadow: 3px 3px 1px #828aaf;
    margin-top: 50px;
}

.fra {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-family: Barbarjowe Pisanki;
}

body {
    background-color: #AEDAE6;
}

/* Botões */

.men {
    margin-top: 5px;
    text-align: center;
}

.bot {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}

a.bot:visited {
    color: #6e7cb9;
}

footer {
    background-color: #B8AEE6;
    min-height: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.des {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px;
    margin-left: 45px;
    margin-right: 45px;
}