@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/shelldon');
@import url('https://fonts.cdnfonts.com/css/ghost-fantasy');
@import url('https://fonts.cdnfonts.com/css/agbalumo');

                

@font-face {
    font-family: Barbarjowe Pisanki;
    src: url(' https://fonts.cdnfonts.com/css/barbarjowe-pisanie ');
}

body {
    background-image: url("Imagens/meus desenhos/paisagem-roxa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

main {
    background-color: #c8bfe7d0;
    padding: 20px;       
    border-radius: 10px; 
    width: 90%;          
    margin: 20px auto;  
    box-shadow: 0 0 10px #68278b; 
}

html, body {
    height: 100%;
}

.foto-redonda {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  padding-left:17px;
}


/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #69288c;
  z-index: 1000;
}

.menu-conteiner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

.menu-conteiner .nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 0; 
  padding: 0;
  list-style: none;
}

.menu-conteiner .nav .nav-link {
  font-size: 18px;
  padding: 6px 10px;
  color: #b8d1f3;
  text-decoration: 2px solid rgb(162, 72, 163);;
}

.menu-conteiner .top {
  margin: 0;
  margin-left: 12px;
  margin-right: 6px;
  font-size: 28px;
  color: #fdd302;
  font-family: 'Shelldon', sans-serif;
  white-space: nowrap;
}

main {
  margin-top: 76px;
}

@media (max-width: 700px) {
  .menu-conteiner .nav .nav-link {
    font-size: 16px;
    padding: 6px 8px;
  }
  .menu-conteiner .top {
    font-size: 20px;
  }
  main { margin-top: 100px; } 
}



* {
    margin: 0cm;
    padding: 0;
    box-sizing: border-box;
}

.top {
    color: #fdd302;
    font-family: 'Shelldon', sans-serif;
    font-size: 35px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;

}


.menu-conteiner .nav .nav-link.active {
    color: #b8d1f3;
    font-weight: normal;
    border-bottom: none; 
}

.tit {
    font-size: 70px;
    text-align: center;
    font-family: 'Ghost Fantasy', sans-serif;
    color: #fdd302;
    text-shadow: 3px 3px 1px #ac910a;
    margin-top: 50px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #b8d1f3;
    font-size: 30px;
    margin-bottom: 10px;
}

a:visited {
    color: #fdd302;
}


/* Main */
h2 {
    font-size: 55px;
    margin-top: 45px;
    margin-left: 50px;
    font-family: 'Agbalumo', sans-serif;
    color: #69288c;
}

img {
    margin-top: 45px;
    margin-bottom: 30px;
    border-radius: 40px;
}

.perfil {
    display: flex;
    align-items: left;
    gap: 20px;
    justify-content: left;
    margin-top: 30px;
    flex-wrap: wrap;
    padding-left: 100px;
}

.foto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fdd302;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#redes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    transition: 0.3s;
    text-align: center;
}

#redes a:hover {
    background-color: #69288c;
    color: white;
}



.des {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 50px;
    color: #000000;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    margin-right: 80px;
    color: #000000;
    padding: 15px;
    border-radius: 10px;

}

desc {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 30px;

}


/* Footer */

.final{
    min-height: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #68278b;
}

footer {
    background-color: #68278b;
    width: 100%;
    bottom: 0;
    padding: 10px;

}

/* Tabela */

table, th, td {
    border: 1px solid #fdd302;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fdd302;
    background-color: rgb(162, 72, 163);

}

th, td {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}

/* para aparelos moveis */

@media (max-width: 992px) {
    #sino {
        width: calc(90% - 40px); 
    }
}

@media (max-width: 576px) {
    #sino {
        width: 90%; 
    }
}


.nav-link {
    position: relative;
    overflow: hidden;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    background: rgb(162, 72, 163);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s, opacity .3s;
    opacity: 0.4;
}

.nav-link:hover::before {
    width: 150px;
    height: 150px;
}

.nav-link::after {
    background: rgb(162, 72, 163);

}

.nav-link:hover::after {
    width: 100%;
}

ol {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    margin-right: 80px;
    color: #000000;
    padding: 15px;
    border-radius: 10px;
}

.container-caixas {
  display: flex;
  gap: 20px;
  justify-content: center; 
  margin: 20px 0;
}

.caixa {
  flex: 1; 
  padding: 0.5px;
}
